/* 统一处理: 如背景图, 清除浮动*/

body {
    background: #f7f7f7;
}

a,
a:hover {
    color: #21759b;
}


/* 布局: .g- */

.g-bar {
    height: 27px;
    width: 100%;
    background: #f9f9f9 linear-gradient(to bottom, #fefefe, #f6f6f6);
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

.g-hd {
    height: 69px;
    width: 100%;
    background: #ddd;
    background: #ddd linear-gradient(to bottom, #e4e4e4, #d7d7d7);
    border-bottom: 1px solid #bbb;
}

.g-bd {
    margin-top: 10px;
}

.g-sd {
    float: left;
    width: 145px;
}

.g-cnt {
    float: right;
    width: 795px;
    padding: 20px;
    border: solid 1px #bbb;
    background: #fff;
}

.g-cnt .g-tl {
    margin-bottom: 20px;
    font-size: 20px;
}

.g-cnt .g-cntmn {
    float: left;
    width: 550px;
}

.g-cnt .g-cntsd {
    float: right;
    width: 205px;
    background: #fafafa;
    padding: 10px;
}

.g-cnt .g-cntsd .title {
    font-weight: bold;
    margin-bottom: 15px;
}

.g-footer {
    text-align: center;
}


/* 模块: m- */


/* 问题: 各个模块之间可以加注释或者换行，提高可读性 */

.m-barnav {
    float: left;
    margin-left: -10px;
}

.m-barnav li {
    float: left;
    margin-left: 10px;
    padding: 7px 5px;
}

.m-barnav li:hover {
    cursor: pointer;
    background: #969696;
    color: #fff;
}

.m-usernav {
    float: right;
    height: 27px;
    line-height: 27px;
    color: #666;
}

.m-usernav a, .m-usernav a:hover {
	color: #666;
}

.m-userinfo {
    padding-top: 5px;
}

.m-userinfo .avatar {
    float: left;
    width: 50px;
    height: 50px;
}

.m-userinfo .greet {
    margin-left: 70px;
    height: 28px;
    line-height: 28px;
    font-size: 18px;
    color: #7d7d7d;
}

.m-userinfo .uploadavatar {
    margin-left: 20px;
}

.m-slidenav {
    border-radius: 2px;
    margin-bottom: 20px;
    border: 1px solid #bbb;
}

.m-slidenav .navtitle {
    position: relative;
    border-bottom: 1px solid #bbb;
    padding: 7px 0 7px 30px;
    font-weight: bold;
    color: #333;
    background: #e0e0e0 linear-gradient(to top, #e0e0e0, #eee);
}

.m-slidenav .navtitle i {
    position: absolute;
    left: 8px;
    top: 5px;
}

.m-slidenav .navmn {
    background: #fff;
}

.m-slidenav .navmn li {
    padding: 7px 0 7px 30px;
}

.m-slidenav .navmn li:hover {
    cursor: pointer;    
    background-color: #f8f8f8;
}

.m-slidenav .navmn li:hover a{
    color: #333;
}

.m-slidenav .navmn li.current {    
    background-color: #ececec;
}
.m-slidenav .navmn li.current a{
    color: #333;
}

.m-tabs {
    height: 26px;
    margin-bottom: 13px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.m-tabs li {
    float: left;
    width: 90px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background: #f7f7f7;
    border: 1px solid #ddd;
    border-left: none;
}

.m-tabs li:hover {
    cursor: pointer;
    background-color: #fff;
}

.m-tabs li.current {
    background: #fff;
    border-bottom-color: #fff;
}

.m-tabs li.current a {
    color: #000;
}

.m-form {
    background: #ececec;
    padding: 10px;
    margin-bottom: 10px
}

.m-form input.formtitle {
    box-sizing: border-box;
    padding-left: 12px;
    border: 0;
    display: block;
    width: 100%;
    height: 23px;
    line-height: 23px;
    background: #f8f8f8;
    margin-bottom: 5px;
}

.m-form input.formtitle::-webkit-input-placeholder {

   color: #333;

}



.m-form input.formtitle:-moz-placeholder { 

   color: #333;  

}



.m-form input.formtitle::-moz-placeholder {

   color: #333;  

}



.m-form input.formtitle:-ms-input-placeholder {  

   color: #333;  

}

.m-form textarea.formcnt {
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 5px;
    width: 100%;
    height: 72px;
    display: block;
    border: #bbb 1px solid;
}

.m-postlist .title{
    float: left;
    
}

.m-postlist .u-icon-privatepost{
    display: none;
}
.m-postlist li.private .u-icon-privatepost{
    display: inline-block;
}

.m-postlist .title h6{
    display: block;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;   
    white-space: nowrap;
}

.m-postlist >li {
    padding: 8px 0 8px 20px;
    border-bottom: 1px dotted #d8e0e5;
}

.m-postlist >li  input {
    float: left;
    margin-right: 5px;
}

.m-postlist .operations {
    float: right;
}

.m-postlist .operations .more {
    position: relative;
    top: -4px;
    float: right;
    width: 47px;
    padding: 4px;
    margin-left: 10px;
    border: 1px solid #fff;
    border-bottom: none;
}

.m-postlist .operations .edit {
    display: inline-block;
    border-top: 1px solid transparent;
}

.m-postlist .operations .more:hover {
    cursor: pointer;
}

.m-postlist .operations .more.active {
    border-color: #c8d9e3;
}

.m-postlist .operations .more.active ul {
    display: block;
}

.m-postlist .operations ul {
    display: none;
    position: absolute;
    right: -1px;
    top: 100%;
    border: 1px solid #c8d9e3;
    border-top: none;
    background: #fff;
    padding-bottom: 5px;
    z-index: 10;
}

.m-postlist .operations ul li {
    display: block;
    padding: 4px;
    width: 47px;
    white-space: nowrap;
}

.m-postlist .operations ul li:hover {
    cursor: pointer;
    background: #ececec;
}

.m-postlist .info {
    margin-top: 5px;
}

.m-postlist .info > span{
    display: inline-block;
}
.m-postlist .info span.date {
    width: 135px;
    margin-left: 5px;
}

.m-postlist .info span.read {
    width: 75px;
}
.m-postlist .info span.comments {
    width: 75px;
}

.m-postlist >li .operations .j-canceltop{
    display: none;
}
.m-postlist >li.j-attop .operations .j-totop{
    display: none;
}
.m-postlist >li.j-attop .operations .j-canceltop{
    display: block;
}


/* 问题: 模块下直接 tag是不可取的... 因为如果有嵌套, 容易污染; 除非, 确定该模块是最终级的模块;
   解决: 加特定class限制
*/

.m-selectall {
    padding: 10px 0 10px 15px;
}

.m-selectall input.chk-selectall {
    cursor: pointer;
    margin-right: 5px;
}
.m-selectall label {
    cursor: pointer;
}

.m-scrolllist {
    position: relative;
    height: 250px;
    overflow: hidden;
}

.m-scrolllist ul {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 10px;
}


/* .m-scrolllist ul:hover{-webkit-animation-play-state: paused; -moz-animation-play-state: paused; -o-animation-play-state: paused; animation-play-state: paused;} */

.m-scrolllist ul li {
    margin-bottom: 10px;
    width: 190px;
}

.m-scrolllist ul li img {
    float: left;
    width: 40px;
    height: 40px;
}

.m-scrolllist ul li .name {
    margin-left: 45px;
    padding-top: 5px;
    font-weight: bold;
}

.m-scrolllist ul li .description {
    margin: 5px 0 0 45px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.m-dropdown {
    position: relative;
    z-index: 10;
}

.m-dropdown .menu {
    position: absolute;
    left: 0;
    top: 100%;
    width: 60px;
    background: #fff;
    border: 1px solid #ccc;
    display: none;
}

.m-dropdown .menu span {
    display: inline-block;
    width: 100%;
    text-indent: 5px;
    padding: 8px 0;
    color: #666;
}

.m-dropdown .menu span:hover {
    background: #979797;
    color: #fff;
}

.m-dropdown .menu i.divider {
    border-top: 1px solid #ccc;
    width: 50px;
    display: inline-block;
    margin-left: 5px;
}

.m-dropdown:hover .menu {
    display: block;
}

.m-dropdown:hover .u-arrow.down {
    position: relative;
    border-top-color: transparent;
    border-bottom-color: #fff;
    top: -3px;
}

.m-footer {
    margin: 20px;
    color: #7b7b7b;
}

.m-footer a {
    color: #7b7b7b;
}

.m-footer a:before {
    content: '-';
    display: inline;
    vertical-align: middle;
    margin: 0 9px 0 5px;
    color: #ddd;
}

.m-footer a:first-child:before {
    content: '';
}

.m-footer p {
    margin-top: 20px;
    text-align: center;
}


/* 元件: u- */

.u-btn {
    box-sizing: border-box;
    display: inline-block;
    height: 22px;
    padding: 5px 10px;
    border: 1px solid #b4b4b4;
    cursor: pointer;
    color: #515151;
    background: #fefefe linear-gradient(to bottom, #fdfdfd, #e1e1e1);
    border-radius: 3px;
}


/* 问题: 这2个是需要提取出基类的 */
.u-icon {
    display: inline-block;
    width: 17px;
    background: url(../images/sprites.png);
    margin: 0 2px;
}

.u-arrow {
    margin-left: 3px;
    display: inline-block;
    border: solid 3px transparent;
}
.u-arrow.down {
    border-top-color: #a8a8a8;
}

.u-arrow.up {
    
    border-bottom-color: #a8a8a8;
}

.u-icon-email {
    height: 14px;
    background-position: -6px -32px;
    vertical-align: sub;
}

.u-icon-usercenter {
    height: 17px;
    background-position: -6px -100px;
    vertical-align: sub;
}

.u-icon-blognews {
    height: 18px;
    background-position: -6px -5px;
}

.u-icon-blogmanage {
    height: 18px;
    background-position: -6px -74px;
}

.u-icon-service {
    height: 17px;
    background-position: -6px -51px;
}

.u-icon-privatepost {
    height: 12px;
    background-position: -6px -152px;
    vertical-align: sub;
}

.u-icon-rss {
    height: 17px;
    background-position: -6px -124px;
    vertical-align: sub;
}


/* 功能: f- */

.f-cb {
    zoom: 1;
}

.f-cb:before,
.f-cb:after {
    display: table;
    content: "";
    line-height: 0;
}

.f-cb:after {
    clear: both;
}

.f-fl {
    float: left;
}

.f-fr {
    float: right;
}

.f-wrap {
    width: 990px;
    margin: 0 auto;
}

.f-dn {
    display: none;
}

.f-vb {
    visibility: hidden;
}

.f-mr5 {
    margin-right: 5px;
}

.f-ml10 {
    margin-left: 10px;
}

.f-pipenav {
    margin: 0 10px;
    border-left: 1px solid #a4a4a4;
}


/* 皮肤: s- */

.s-orange {
    color: #f70;
}

.s-gray {
    color: #666;
}

.s-gray-1 {
    color: #a4a4a4;
}


/* 状态: z- */


/* 交互: j- */


/* 页面样式: p- */
